/* your css here */

.page-wrapper .header-wide-site-banner-wrapper a {
    color: #000000 !important;
}

.elementor-widget-icon-box .elementor-icon-box-content .elementor-icon-box-description {
    color: #000000 !important;
}

.elementor-widget-text-editor {
    color: #000000 !important; 
    font-weight: 500 !important;
}

.elementor-1750 .elementor-element.elementor-element-5b1c1cca .elementor-image-box-content .elementor-image-box-description {
    color: #000000 !important;
}

.elementor-1750 .elementor-element.elementor-element-16720e95 .elementor-image-box-content .elementor-image-box-description {
    color: #000000 !important;
}

.elementor-1750 .elementor-element.elementor-element-2e6b62ad .elementor-post__card .elementor-post__badge {
    background-color: #000000 !important;
}

.elementor-posts .elementor-post__excerpt p {
    color: #000000 !important;
}

body .page-wrapper .page-footer .footer-copyright-wrapper {
    background: #000000 !important;
}

.elementor-1750 .elementor-element.elementor-element-5309b308.elementor-widget-heading .elementor-heading-title {
    color: #000000 !important;
    background-color: #ffffff !important;
}

.elementor-1750 .elementor-element.elementor-element-58216e37.elementor-widget-heading .elementor-heading-title {
    color: #000000;
    background-color: #ffffff !important;
}

.elementor-widget-container {
    color: #000000 !important;
    background-color: #ffffff;
}

/*.elementor-1750 .elementor-element.elementor-element-2656f02e:not(.elementor-motion-effects-element-type-background), .elementor-1750 .elementor-element.elementor-element-2656f02e > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #ffffff !important;
}


body .page-wrapper {
    color: #ffffff !important
}

.elementor-1750 .elementor-element.elementor-element-65a5b096 {
    background-color: #ffffff !important;
}*/
