/* your css here */

.page-wrapper .header-wide-site-banner-wrapper a {
    color: #000000 !important;
}

.elementor-widget-icon-box .elementor-icon-box-content .elementor-icon-box-description {
    color: #000000 !important;
}

.elementor-widget-text-editor {
    color: #000000 !important;
}

.elementor-1750 .elementor-element.elementor-element-5b1c1cca .elementor-image-box-content .elementor-image-box-description {
    color: #000000 !important;
}

.elementor-1750 .elementor-element.elementor-element-16720e95 .elementor-image-box-content .elementor-image-box-description {
    color: #000000 !important;
}

